<div class="index-container">
<!--   <div>
    <h1>Select Bike Shop</h1>
  </div> -->

  <div
  id="map"
  style="width: 85%;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  <button id = "find-me">Show my location</button><br/>
    <p id = "status"></p>
    <a id = "map-link" target="_blank"></a>
  </div>



  <% @shops.each do |shop| %>
<!--     <div class="shop-card"> -->
      <%= link_to shop_path(shop), class: 'card-link', id: "shop_#{shop.id}" do %>
        <%= cl_image_tag(shop.photo.key, :transformation=>[{:width=>220, :crop=>"fill", :effect=>"saturation:50", :radius=>5, :responsive => true}]) %>
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="shop-thumbnail" /> -->
        <div class="shop-card-text">
          <h5><%= shop.name %></h5>
          <p>Distance: CHANGE</p>
          <p>Rating: CHANGE</p>
        </div>
      <% end %>

<!--     </div> -->
  <% end %>

    </div>

    <div id="footer" role="alert">
      <div id="footertext"><span><strong>Back to map</strong> 🌍</span>
    </div>
  </div>


