<div class="shop-show-container">
      <% if current_user == @shop.user %>
        <%= link_to "Service Tracker", shop_bookings_path(@shop), class: "btn-show"%>
    <% end %>
  <div class="shop-show-title">
    <span class="rwd-line"><%= @shop.name %></span>
    <%= link_to favorites_update_path(shop: @shop), id: 'favorite_link', remote: true do %>
      <i class="<%= favorite_text %>", style="color:red; width:100px"> </i>
    <% end %>
  </div>
    <div id="show_review" role="alert">
      <div id="show_reviewtext"><p><strong><%= pluralize @shop.reviews.size, "review" %></strong> Average Rating: <%= @shop.reviews.average(:rating) %><i><div class="fas fa-star"></div></i></p></div>
    </div>
  <div class="shop-show-image" style="background-image: url('<%= cl_image_path @shop.photo.key %>'); background-size: cover; background-position: center;">
  </div>
  <% if current_user != @shop.user %>
  <div class="show-services-title">
    <h2>Services</h2>
  </div>
  <div class="card-services">

<!-- Trigger/Open The Modal -->

         <%= simple_form_for [@shop, @booking] do |f| %>
        <div class="service-list">
          <%= f.association :job, as: :radio_buttons, collection: @jobs_with_prices,
          :label => false, :label_method => lambda { |item| "#{item.first} <br> #{Job.find_by(name: item.first[0...-4].strip).description}<br><br>".html_safe },
          input_html: {class: "rb-list", style: "font-size:10px"} %>        </div>
         <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.submit 'Go To Checkout', class: "btn-show" %>
      <% end %>
    <% end %>
  </div>

  <% if current_user == @shop.user %>
  <div class="service-list">
    <div class="show-services-title">
      <h1>Services</h1>
    </div>
  <% @shop.jobs.each do |job| %>
         <ul>
             <li>
            <%= job.name %> <%= job.price %> <%= link_to "Remove", shop_job_path(@shop, job), method: :delete, class: "btn-delete", style: "float:right" %>
             </li>

         </ul>

     <% end %>
   <% end %>
  </div>
   <% if current_user == @shop.user %>
      <%= render 'jobs/new' %>
      <% end %>
</div>

  <div class="review-container">

    <div class="review-info">
      <span class="rwd-line"><%= @shop.name %></span>
      <h4 align="center">Have your say!</h4>
    </div>

      <div class="reviews">
        <h2>
          <%= pluralize @shop.reviews.size, "review" %>
        </h2>
          <% if @shop.reviews.blank? %>
<!--           the below line 70 was in place of line 67 at the bottom of this page but broke
          the formatting, the rest of it was exactly the same as this -->
          <!--       if current_user != @shop.user && @shop.reviews.blank? -->
            Be the first to leave a review for <%= @shop.name %>
          <% else %>
            <% @shop.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
          <% end %>
          <% end %>
          <%= render 'reviews/new', shop: @shop, review: @review %>
      </div>

  </div>


