<div class="shop-show-container">
  <div class="shop-show-title">
    <h1><%= @shop.name %></h1>
  </div>
  <div class="shop-show-image" style="background-image: url('<%= cl_image_path @shop.photo.key %>'); background-size: cover; background-position: center;">
  </div>
    <%= link_to favorite_text, favorites_update_path(shop: @shop), id: 'favorite_link', remote: true %>
  <div class="show-services-title">
    <h2>Services</h2>
  </div>

  <div class="card-services">
<!--     <%= link_to favorite_text, favorites_update_path(shop: @shop), id: 'favorite_link', remote: true %> -->
    <%= simple_form_for [@shop, @booking] do |f| %>
      <div class="service-list">
        <%= f.association :job, as: :radio_buttons, collection: Job.where(shop: @shop), input_html: { data: :price, class: "cb-list"} %>
      </div>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, style: "width:200px" %>
      <%= f.submit 'Go To Checkout', class: "btn-show" %>
    <% end %>
  </div>
</div>


<!--
:width=>500, :height=>350, :align=>"center", :crop=>"fill", :effect=>"shadow:20", :radius=>8,
      :responsive=>true, :gravity=>"center", :font_size=>40, :font_weight=>"bold", -->
<div class="review-container">
  <div class="review-info">
    <h1><%= @shop.name %></h1>
    <h1><%= @shop.address %></h1>
  </div>
      <div class="reviews">
        <h2>
          <%= pluralize @shop.reviews.size, "review" %>
        </h2>
          <% if @shop.reviews.blank? %>
            Be the first to leave a review for <%= @shop.name %>
          <% else %>
            <% @shop.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>
</div>

<%= render 'reviews/form', shop: @shop, review: @review %>









