<div class="shop-show-container">
  <% if current_user == @shop.user %>
    <%= link_to "Service Tracker", shop_bookings_path(@shop), class: "btn-show"%>
  <% end %>


  <div class="shop-show-title">
    <h1 class="rwd-line"><%= @shop.name %></h1>
      <div class="review-fav">
        <%= link_to favorites_update_path(shop: @shop), id: 'favorite_link', remote: true do %>
          <i class="<%= favorite_text %>", style="color:red;"> </i>
        <% end %>
          <div id="show_review" role="alert">
            <p><div id="show_reviewtext"><%= pluralize @shop.reviews.size, "review" %>:  </p>
              <% @shop.reviews.average(:rating).to_i.times do %>
                <i class="fas fa-star icon-3x review_stars"></i>
              <% end %>
               </div>
          </div>
      </div>
  </div>

  <div class="shop-show-image" style="background-image: url('<%= cl_image_path @shop.photo.key %>'); background-size: cover; background-position: center; margin-top: 20px;">
  </div>
  <% if current_user != @shop.user %>
    <div class="show-services-title">
      <h2>Services</h2>
    </div>
    <div class="card-services">
      <%= simple_form_for [@shop, @booking] do |f| %>
        <div class="service-list">
          <%= f.association :job, as: :radio_buttons, collection: @jobs_with_prices,
          :label => false, :label_method => lambda { |item| "#{item.first} <br> #{Job.find_by(name: item.first[0...-4].strip).description}<br><br>".html_safe },
          input_html: {class: "rb-list", style: "font-size:10px"} %>
        </div>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.submit 'Confirm Service', class: "btn-show" %>
      <% end %>
    </div>

  <% end %>

  <% if current_user == @shop.user %>

  <div class="new-job-container">
      <div class="show-services-title">
                <h2>Service Admin</h2>
    </div>
   <!--  <div class="service-list"> -->
         <% @shop.jobs.each do |job| %>
         <%= render 'jobs/show', job: job %>
         <% end %>
  <% end %>





 <!--  </div> -->
    <% if current_user == @shop.user %>

      <%= render 'jobs/new' %>
    </div>
  <% end %>
  <% unless current_user == @shop.user %>
    <div class="review-title">
      <h2>Reviews</h2>
    </div>
    <div class="review-container">
      <div class="review-info">
        <h4>Have your say!</h4>
      </div>
        <p style="font-size: 12px;">(<%= pluralize @shop.reviews.size, "review" %>)</p>
        <% if @shop.reviews.blank? %>
          <h6>Be the first to leave a review for <%= @shop.name %></h6>
        <% else %>
          <div class="reviews" style="text-align: center;">

          <% @shop.reviews.each do |review| %>
            <%= render 'reviews/show', review: review, class: "font-family: 'Spartan, ;" %>
          <% end %>
        <% end %>
        <% end %>
      </div>
      <% unless current_user == @shop.user %>
      <%= render 'reviews/new', shop: @shop, review: @review %>
      <% end %>
    </div>
</div>

