
 <div class="job_form">
    <p><strong>Add new service</strong></p>
      <%= simple_form_for [@shop, @job] do |form| %>
      <%= form.input :name, as: :string %>
      <%= form.input :description, as: :text %>
      <%= form.input :price, as: :integer %>
      <%= form.button :submit, class: "btn-show", style: "text-align: center" %>
      <% end %>
  </div>
</div>
