
 <div class="job_form">
  <div class="show-services-title">
    <h2>Update Services</h2>
  </div>
      <%= simple_form_for [@shop, @job] do |form| %>
      <%= form.input :name, as: :string %>
      <%= form.input :description, as: :text %>
      <%= form.input :price, as: :integer %>
      <%= form.button :submit, 'Add Service', class: "btn-show", style: "text-align: center" %>
      <% end %>
  </div>
</div>
