
  <div class="bookings-container">
    <br>
    <br>
     <div class="btn-booking" style="padding-bottom: 16px;">
        <%= link_to "Back to #{@shop.name}", shop_path(@shop), class: "btn-basic", style: "text-align:center" %>
     </div>
     <div class="bookings-title">
      <h3>Service Tracker</h3>
     </div>

     <div class="booking-order-cards">
          <% @bookings.sort{|a,b| b.date <=> a.date}.each do |booking| %>
              <div class="order-info">
                <div class="booking-name-small">
                    <h7 style="font-size:16px"><strong><%= booking.job.name %></strong></h7>
                    <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
                    <br>
                    <p><%= booking.date %></p>
                </div>
                <div class="booking-button booking-<%= booking.id %>">
                  <%= link_to "#{ booking.job_complete ? 'Complete' : 'Mark as complete' }", toggle_status_booking_path(booking), method: :patch, remote: true, class: "btn big-btn btn-#{ booking.job_complete ? 'success' : 'warning' }"  %>
                </div>
              </div>
          <% end %>
     </div>

</div>




