
<div class="bookings-account-container">
  <div class="account-titles">
    <br>
    <h3>Favourite Shops</h3>
  </div>
  <div class="favorite-cards">
    <% current_user.favorites.each do |favorite| %>
      <div class="individual-favorite-cards">
        <%= link_to shop_path(favorite.shop), class: 'card-link', id: "shop_#{favorite.shop.id}" do %>
          <%= cl_image_tag(favorite.shop.photo.key, :transformation=>[{:width=>220, :crop=>"fill", :effect=>"saturation:50", :radius=>5, :responsive => true}]) %>
          <div class="shop-card-text">
            <div class="favourite-name">
              <h5><strong><%= favorite.shop.name %></strong></h5>
            </div>
            <div class="open-hours-card">
              <p><%= favorite.shop.open_hours %></p>
                <% if favorite.shop.reviews.blank? %>
                 <p>No reviews yet.</p>
                <% else %>
                <div class="rating-stars">
                    <h5 style="font-size: 10px">Rating</h5>
                  <% favorite.shop.reviews.average(:rating).to_i.times do %>
                   <i class="fas fa-star icon-3x review_stars" ></i>
                <% end %>
                </div>
                  <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
  <p style="text-align: center; color: #DCDCDC;">________________________________</p>

  <div class="bookings-title">
    <h3>Order History</h3>
  </div>
  <div class="my-bookings-orders">
  <% @bookings.each do |booking| %>
    <div class="my-bookings-order-cards">
      <div class="my-bookings-order-info">
        <p><strong><%= booking.job.shop.name %>:  <%= booking.job.name %></strong></p>
          <p><%= booking.date %></p>
        <strong><p>£<%= booking.job.price.to_i %></p></strong>
      </div>
    </div>
  <% end %>
  </div>

  <br>
  <p style="text-align: center; color: #DCDCDC;">________________________________</p>


</div>

