<div class="bookings-container">
  <div class="bookings-title">
    <h1>Order History</h1>
  </div>

  <br>

  <div class="bookings-orders">
    <% @bookings.each do |booking| %>
      <ul>
        <div class="bookings-order-cards">
          <div class="order-info">
            <li><%= booking.job.name %></li>
            <li><%= booking.date %></li>
          </div>
          <div class="rhs">
            <div class="order-shop">
              <li><%= booking.job.shop.name %></li>
            </div>
            <div class="order-price">
              <li>£<%= booking.job.price.to_i %></li>
            </div>
          </div>
        </div>
      </ul>
    <% end %>
  </div>

  <div class="top-shops">
    <div class="favorite-shops-title">
      <h1>Top Shops</h1>
    </div>

    <div class="favorite-cards">
      <% current_user.favorites.each do |favorite| %>
        <%= link_to shop_path(favorite.shop), class: 'card-link', id: "shop_#{favorite.shop.id}" do %>
          <%= cl_image_tag(favorite.shop.photo.key, :transformation=>[{:width=>220, :crop=>"fill", :effect=>"saturation:50", :radius=>5, :responsive => true}]) %>
          <div class="shop-card-text">
            <h5><%= favorite.shop.name %></h5>
            <p>Open Hours: <%= favorite.shop.open_hours%></p>
            <p>Rating: CHANGE!</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
