<div class="booking-show-container">
  <div class="booking-show-title">
    <br>
    <h5><strong>Booking Confirmed</strong></h5>
  </div>

 <!--  <p id="line"> ________________________________ </p> -->

  <div class ="booking-show-details">
    <br>
    <p>You have booked</p>
    <h4><%= @booking.job.name %></h4>
    <p>at</p>
    <h4><%= @booking.job.shop.name %></h4>
    <p>on</p>
    <h4><%= @booking.date %></h4>
  </div>

  <p id="line"> ________________________________ </p>
  <br>

  <p>Thanks for booking with <div class="fixr">FIXR</div></p>
  <div class="booking-show-buttons">
    <%= link_to "Bike shops", shops_path, class: "btn-basic" %>
    <br>
    <%= link_to "View your account", bookings_path(current_user), class: "btn-basic" %>
  </div>
</div>
