<div class="booking-show-container">
  <div class="booking-show-title">
    <h3><strong>- Booking Confirmed -</strong></h3>
  </div>

  <div class ="booking-show-details">
    <p>You have booked</p>
    <h4><%= @booking.job.name %></h4>
    <p>at</p>
    <h4><%= @booking.job.shop.name %></h4>
    <p>on</p>
    <h4><%= @booking.date %></h4>
  </div>

  <br>
  <p> ________________________________ </p>
  <br>
  <br>

  <p>Thanks for booking with <div class="fixr">FIXR</div></p>
  <div class="booking-show-buttons">
    <%= link_to "Bike shops", shops_path, class: "btn-basic" %>
    <%= link_to "View your account", bookings_path(current_user), class: "btn-basic" %>
  </div>
</div>
