<div class="temporary-banner">
  <h2>FIXR</h2>
  <p>I will tryyyy to fixr...</p>
</div>
<div class="homepage-background">
  <div class="homepage-container">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", class: "homepage-form-input" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn-treehouse homepage-buttons" %>
        <%= link_to "Skip", shops_path, class: "btn-treehouse homepage-buttons" %>
      </div>
    <% end %>
  <!--   <div class="homepage-login-buttons">
      <%= render "devise/shared/links" %>
    </div> -->
  </div>
</div>
