<div class="checkout-banner">
  <div class="container">
    <br>
    <div><i class="fas fa-biking fa-spin fa-4x"></i></div>
  </div>
</div>

<div class="container">
<!--   <div class="temporary-banner"> -->
    <div class="row py-4">
      <div class="col">
        <h2 style="text-align=center">Checkout summary</h2>
        <br>
          <p>Purchase of <strong><%= @booking.job.name %></strong>   at  <strong>  <%= @booking.job.shop.name %></strong></p>
          <p>Service date: <%= @booking.date %></p>
          <p><strong>Total:  </strong><%= humanized_money_with_symbol @booking.job.price %></p>
            <button id="pay" class="btn btn-primary">Pay</button>
              <script src="https://js.stripe.com/v3/"></script>
              <script>
                const paymentButton = document.getElementById('pay');
                paymentButton.addEventListener('click', () => {
                const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                stripe.redirectToCheckout({
                sessionId: '<%= @booking.checkout_session_id %>'
                  });
                });
              </script>
            <br>
            <br>

      </div>
    </div>
<!--   </div> -->
</div>




